# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
env2/
venv/

# Environment variables
.env
.env2

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.dockerignore
docker-compose.override.yml
